{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION PAGE TOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search' in request.path %}
            <h2 class="title-page">Search Result</h2>
        {% else %}
            <h2 class="title-page">Explore</h2>
        {% endif %}
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGE TOP END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
	        <aside class="col-md-3">

<!-- ========================= CATEGORIES ========================= -->
                <div class="card">
	                <article class="filter-group">
                        <header class="card-header">
                                <h5 class="title">Categories</h5>

                        </header>
{#                        <div class="filter-content collapse show" id="collapse_1" style="">#}
                            <div class="card-body">
                            {# CATEGORIES LIST #}
                                <ul class="list-menu">
                                    <li><a href="{% url 'store' %}">All Products  </a></li>
                                    {% for category in links %}
                                    <li><a href="{{ category.get_url }}">{{ category.category_name }}  </a></li>
                                    {% endfor %}
                                </ul>
                            </div> <!-- card-body.// -->
{#                        </div>#}
                    </article> <!-- filter-group  .// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
<!-- ========================= CATEGORIES END// ========================= -->

                <main class="col-md-9">
                    <header class="border-bottom mb-4 pb-3">
                            <div class="form-inline">
                                <span class="mr-md-auto"><b>{{ product_count }}</b> items found </span>
                            </div>
                    </header><!-- sect-heading -->

                    <div class="row">
                        {% if products %}

<!-- ========================= PRODUCT DISPLAY ========================= -->
                    {% for product in products %}
                    <div class="col-md-4">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">
                                <a href="{{ product.get_url }}"><img src="{{ product.images.url }}"></a>
                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap">
                                <div class="fix-height">
                                    <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                                    <div class="price-wrap mt-2">
                                        <span class="price">₱{{ product.price }}</span>
                                    </div> <!-- price-wrap.// -->
                                </div>
                                <a href="{{ product.get_url }}" class="btn btn-block btn-primary">View Details </a>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                    {% endfor %}
        <!-- ========================= PRODUCT DISPLAY END ========================= -->
                    {% else %}
                    <div>
                        <h2>No result found. Please try again.</h2>
                    </div>
                    {% endif %}
                </div> <!-- row end.// -->

<!-- ========================= PRODUCT DISPLAY ========================= -->
                <nav class="mt-4" aria-label="Page navigation sample">
                    {% if products.has_other_pages %}
                        <ul class="pagination">
                            {% if products.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            {% endif %}

                            {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if products.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </nav>
<!-- ========================= PRODUCT DISPLAY ========================= -->
            </main> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
